
.pageContent {
  margin-left: 100px;
}

.pageCourse {
  text-align: center;
  margin-top: 50px;
}

.pageCourse h1 {
  font-size: 42px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #555555;
  font-weight: 400;
}

.pageCourse button {
  margin-top: 30px;
  margin-right: 8px;
  font-size: 16px;
  color: #fff !important;
  background-color: #616161 !important;
  padding: 8px 16px;
  vertical-align: middle;
}

