.pageCourse {
  text-align: center;
  margin-top: 50px;
}

.pageCourse h1 {
  font-size: 80px;
  color: #555555;
  font-weight: 400;
  margin: 2px 0 -20px 0 !important;
}

.pageCourse h4 {
  margin-top: 30px;
}

.pageCourse button {
  margin-top: 30px;
  margin-right: 8px;
  font-size: 16px;
  color: #fff !important;
  background-color: #616161 !important;
  padding: 8px 16px;
  vertical-align: middle;
}
