
.navbar {
  background-color: #4CAF50 !important;
  height: 56px !important;
  vertical-align: middle;
  text-align: center;
}

.container-fluid a {
  display: inline-block;
  color: white;
  letter-spacing: 4px;
  font-size: 17px;
}

.rRight {
  float: right;
  display: flex;
  flex-direction: row;
  font-size: 20px;

}

.rRight li {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-left: 30px;
  font-size: 20px;
}


