<nav class="navbar">
  <div class="container-fluid">
    <div class="dropdown">
      <a (click)="onNavClick(nav)" *ngFor="let nav of myTopNavItems" class="nav-link dropdown-toggle" href="javascript: void 0"
         role="button">{{nav.text}}</a>
      <app-tutorials [type]="currentOpenTab"></app-tutorials>

    </div>

    <ul class="nav navbar-nav navbar-right rRight">
      <li *ngFor="let navIcon of rightTopNav">
        <a [href]="navIcon.aHref">
          <i [attr.aria-hidden]="navIcon.areaHidden" [class]="navIcon.iconClass"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>


