<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a routerLink="/"><i aria-hidden="true" class="fa fa-home" style="font-size:20px"></i></a>

    <ul class="navbar-nav">
      <li *ngFor="let nav of myTopNavItems" class="nav-item">
        <a [href]="nav.href" class="nav-link">{{nav.text}}</a></li>


      <li *ngFor="let navDrop of topNavDropdown" class="nav-item dropdown">
        <a [href]="navDrop.href" class="nav-link dropdown-toggle" role="button">{{navDrop.text}}</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right rRight">
      <li *ngFor="let navIcon of rightTopNav">
        <a [href]="navIcon.aHref">
          <i [attr.aria-hidden]="navIcon.areaHidden" [class]="navIcon.iconClass"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
