
.navbar {
  background-color: #5f5f5f;
  color: #f1f1f1;
  height: 56px !important;
  vertical-align: middle;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 17px;
  top: 0px;
  letter-spacing: 1px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.container-fluid a {
  display: inline-block;
  color: white;
  letter-spacing: 4px;
  font-size: 17px;
}

.rRight {
  float: right;
  display: flex;
  flex-direction: row;
  font-size: 20px;

}

.rRight li {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  margin-left: 10px;
}



