
.container{
  color: #000!important;
  background-color: #f1f1f1!important;
}

.row{
  margin-top: 16px!important;
  color: #000!important;
}

.row h5{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}

li{
  list-style: none;
}

a{
  margin: 5px 5px 5px 0;
  font-size: 16px;
  white-space: normal;
  color: inherit;
  text-align: center;
}
