<div *ngIf="type && (localTopicA?.length || localTopicBSecond?.length || localTopicBFirst?.length
      || localTopicCFirst?.length || localTopicCSecond?.length || localTopicD?.length)" class="container">
  <div class="row">

    <div *ngIf="localTopicA?.length" class="col-sm">
      <h5>HTML and CSS</h5>
      <ul>
        <li *ngFor="let htmltopic of localTopicA">
          <a [href]="htmltopic.href">
            {{htmltopic.text}}
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="localTopicBSecond?.length && localTopicBFirst?.length" class="col-sm">
      <h5>JavaScript</h5>
      <ul>
        <li *ngFor="let jstopic of localTopicBFirst">
          <a [href]="jstopic.href">
            {{jstopic.text}}
          </a>
        </li>
      </ul>
      <h5>Programming</h5>
      <ul>
        <li *ngFor="let ptopic of localTopicBSecond">
          <a [href]="ptopic.href">
            {{ptopic.text}}
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="localTopicCFirst?.length && localTopicCSecond?.length" class="col-sm">
      <h5>Server Side</h5>
      <ul>
        <li *ngFor="let sstopic of localTopicCFirst">
          <a [href]="sstopic.href">
            {{sstopic.text}}
          </a>
        </li>
      </ul>
      <h5>Web Building</h5>
      <ul>
        <li *ngFor="let wbtopic of localTopicCSecond">
          <a [href]="wbtopic.href">
            {{wbtopic.text}}
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="localTopicD?.length" class="col-sm">
      <h5>XML Tutorials</h5>
      <ul>
        <li *ngFor="let xmltopic of localTopicD">
          <a [href]="xmltopic.href">
            {{xmltopic.text}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
