<app-html-nav [myTopNavItems]="localTopNav"
              [rightTopNav]="localIconItems"
              [topNavDropdown]="topDropdown">

</app-html-nav>
<div class="container">
  <div class="subjectName">
    <app-html-ref-sidebar [mySideNav]="localSideRef" title="HTML Reference">
    </app-html-ref-sidebar>
  </div>
  <div class="abtSubject">
    <app-html-ref-content></app-html-ref-content>
  </div>
  <div class="abtBlank"></div>
</div>
