
.pageAdd h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.htmlTag {
  margin-left: 15px;
  margin-right: 15px;
  height: 310px;
  background-color: rgb(40, 44, 52);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}


.tagcolor {
  color: #88ccbb !important;
}

.htmlTag p {
  color: #ff9999;
}

.pageAdd button {
  background-color: green;
  color: white;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 16px;
}
