<div class="pageAdd">
  <h3>HTML Example</h3>
  <div class="htmlTag">
    <p><span class="tagcolor"> < </span>!DOCTYPE html<span class="tagcolor"> > </span></p>
    <p><span class="tagcolor"> < </span>html<span class="tagcolor"> > </span></p>
    <p><span class="tagcolor"> < </span>title<span class="tagcolor"> > </span>HTML Tutorial
      <span class="tagcolor"> < / </span>title<span class="tagcolor"> > </span>
    </p>
    <p><span class="tagcolor"> < </span>body<span class="tagcolor"> > </span></p>

    <p><span class="tagcolor"> < </span>h1<span class="tagcolor"> > </span>This is a heading
      <span class="tagcolor"> < / </span>h1<span class="tagcolor"> > </span></p>

    <p><span class="tagcolor"> < </span>p<span class="tagcolor"> > </span>This is a paragraph.
      <span class="tagcolor"> < / </span>p<span class="tagcolor"> > </span></p>

    <p><span class="tagcolor"> < /</span>body<span class="tagcolor"> > </span></p>
    <p><span class="tagcolor"> < / </span>html<span class="tagcolor"> > </span></p>

  </div>
  <button>Try it Yourself</button>
</div>

