<div class="container">
  <div class="row">

    <div class="col-sm">
      <h5>HTML</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>JavaScript</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Server Side</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Charaters Sets</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

  </div>
</div>
