.sidenav {
  margin-left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ddd;
  line-height: 1.8em;
}

.sidenav h4 {
  margin-top: 16px !important;
  font-weight: 400;
  font-size: 20px;
}

.sidenav a {
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  white-space: normal;
  overflow: hidden;

}

.sidenav a:hover {
  background-color: #818181;
}
