.pageContent {
  display: flex;
  margin-left: 100px;
}

.pageCourse {
  flex: 1;
  text-align: center;
  margin-top: 50px;
}

.pageCourse h1 {
  font-size: 80px;
  color: #555555;
  font-weight: 400;
  margin: 2px 0 -20px 0 !important;
}

.pageCourse h4 {
  margin-top: 30px;
}


.pageAdd {
  flex: 1;
  margin: 30px;
  background-color: #f1f1f1 !important;
  height: 450px;
}

.pageAdd h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.htmlTag {
  margin-left: 15px;
  margin-right: 15px;
  height: 310px;
  background-color: rgb(40, 44, 52);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}

.pageAdd button {
  background-color: green;
  color: white;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  font-size: 16px;
}

.tagcolor {
  color: #88ccbb !important;
}

.htmlTag p {
  color: #ff9999;
}

.content {
  display: flex;
}

.courseContent {
  flex: 0.15;
  border-right-style: ridge;
}

.mainContent {
  flex: 0.85;
}

.container {
  display: flex;
  background-color: #f1f1f1 !important;
  height: 505px;
}


.container h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}




