<app-nav-bar [myTopNavItems]="localTopNavItems"
             [rightTopNav]="localIconItems"></app-nav-bar>
<div class="content">
  <div class="courseContent">
    <app-side-bar></app-side-bar>
  </div>
  <div class="mainContent">

    <div class="pageContent">
      <div class="pageCourse">
        <app-page-nav></app-page-nav>
      </div>
      <div class="pageAdd">
        <app-page-content></app-page-content>
      </div>
    </div>

    <div class="container">
      <app-bottom-content></app-bottom-content>
      <app-bottom-nav></app-bottom-nav>
    </div>
  </div>
</div>
