<app-html-nav [myTopNavItems]="localTopNav"
              [rightTopNav]="localIconItems"
              [topNavDropdown]="topDropdown">

</app-html-nav>
<div class="container">
  <div class="subjectName">
    <div class="sidenav">
      <app-html-side-bar [myNavItems]="localNavItem" title="HTML Tutorial">
      </app-html-side-bar>
    </div>
  </div>
  <div class="abtSubject">
    <app-html-page-content></app-html-page-content>
  </div>
  <div class="abtBlank"></div>
</div>

