<div class="container">
  <div class="row">

    <div class="col-sm">
      <h5>Exercises</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Quizzes</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <h5>Certificates</h5>
      <ul>
        <li>
          <a></a>
        </li>
      </ul>
    </div>

  </div>
</div>
