<div class="restContent">
  <h3>CSS Example</h3>
  <div class="cssSelector">

    <p>body <span>{{ '{' }}</span></p>
    <p>background-color: lightblue;</p>
    <p><span> } </span></p>

    <p>h1 <span>{{ '{' }}</span></p>
    <p>color: white;</p>
    <p>text-align: center;</p>
    <p><span> } </span></p>

    <p>p<span> {{ '{' }} </span></p>
    <p>font-family: verdana;</p>
    <p>font-size: 20px;</p>
    <p><span>}</span></p>

  </div>
  <button>Try it Yourself</button>
</div>
