.restContent {
  margin: 15px;
}

.cssSelector {
  flex: 1;
  width: 364px;
  height: 328px;
  background-color: rgb(40, 44, 52);
  color: white;
  padding: 8px 12px;
  font-size: 16px;
}

.restContent button {
  padding: 8px 16px;
  text-align: center;
  color: #fff !important;
  background-color: #4CAF50 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
