* {
  top: 15px;
}

.container {
  display: flex;
}

.container li {
  list-style: none;
}

.part1 {
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-size: 37px;
  letter-spacing: 3px;
  color: #555555;
  text-decoration: none;
}


.part2 {
  flex: 1;
  position: relative;
  top: 15px;
  text-align: right;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 1.5;
}
