.aboutCss {
  margin: 10px;
  flex: 1;
  padding: 3%;
  width: 414px;
  height: 321px;
  text-align: center !important;
}

.aboutCss h1 {
  font-size: 80px;
  color: #555555;
  margin: 2px 0 -20px 0 !important;
  font-weight: 400;
}

.aboutCss p {
  font-size: 24px !important;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}


.aboutCss button {
  color: #fff !important;
  background-color: #616161 !important;
  margin: 5px 5px 5px 0;
  font-size: 16px;
  padding: 8px 16px;
  vertical-align: middle;
}

